<h1><%= @place.name %></h1>

<h2>My Posts</h2>

<% if @current_user %>

  <% for post in @place.posts.where({ user_id: session[:user_id] }) %>
      <h3><%= "#{post.title}" %></h3>
      <%= "#{post.posted_on}" %>
      <br>
      <%= "#{post.description}" %>
  <% end %>

<% end %>


<p>
  <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</p>



<p>
  <a href="/places">Back to All Places</a>
</p>
